<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education BD</title>
    <script src="https://kit.fontawesome.com/a23861cd30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    <header>
        <a href="#"class="logo">Education<span> bd</span></a>

        <div class="main">
            <a href="/" class="user">Login</a>
            <a href="/signup"><button class="reg">Register</button></a>
        </div>
    </header>

    <section>
        <div class="Login">
            <div class="wrapper">
                <form action="/login" method="post">
                    <h2>Student Login</h2>
                    <div class="input-field">
                        <input type="text" name="email" required>
                        <label>Enter your email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" required>
                        <label>Enter your password</label>
                    </div>
                    <div class="forget">
                        <label for="remember">
                            <input type="checkbox" id="remember">
                            <p>Remember me</p>
                        </label>
                        <a href="#">Forgot password?</a>
                    </div>
                    <button type="submit">Log In</button>
                    <div class="register">
                        <p>Don't have an account? <a href="/signup">Register</a></p>
                    </div>

                </form>
                <a class="Inlog" href="/Inlogin"><button >Institute Login</button></a>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; <span>Aronyo Mojumder</span>. All rights reserved. Site name: Education BD</p>
    </footer>
</body>
</html>
